export(binaryDatedTree)
export(calculate.cluster.size.moments.from.model)
export(calculate.cluster.size.moments.from.tree)
export(coalescent.log.likelihood)
export(simulatedBinaryDatedTree)
export(SIMULATIONTIMERESOLUTION)
import(ape)
import(deSolve)
useDynLib("rcolgem", "initfunc", "dQAL")
